<div class="row">
   <div class="col-md-8">
     
      <div class="media-body">
          <h1 class="media-heading"> Welcome, <%= @user.name %>!</h1>
      </div>
      
      <%= render partial: 'items/item', collection: @items %>
   
   </div>
</div>    
