<h1>What is Check it Off?</h1>

##You need to add div classes to give this page some life and look!##

<h2>It helps you keep the important things in your life on track!</h2>

<br>

<p> Basically, it's a self-deleting checklist! If you can't complete a task within a week, it will automatically delete itself!
That way your most important tasks stay in the spotlight!</p>

<br>
<br>

<p class= "contact">Check it Off was created by Oktober Comstock, an aspiring web developer who currently resides in Santa Monica, CA.</p>


