<br>
<div class="jumbotron">
  <h1>Bloc-it-Off</h1>
     <h2>Welcome to Bloc-it-Off! Prepare to get organized!</h2>
     
      <% if current_user %>
      
    
      <% else %>
     <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-danger' %>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-danger' %> today!
     </p>
     <% end %>
</div>

